<ul class="plan__box" id="sortable_list">
  <% travel_plans.each do |travel_plan| %>
    <li class="plan__wrap">
      <div class="bar flex-center">
        <i class="fa fa-bars"></i>
      </div>
      <div class="plan__item">
        <p><%= travel_plan.plan %></p>
      </div>
      <div class="btn flex-center">
        <%=link_to '✖', travel_travel_plan_path(travel_plan.id), method: :delete, remote:true %>
      </div>
    </li>
  <% end %>
</ul>

