<div class="container">
  <div id="top">
    <div class="top-image">
      <div class="top-text">Trouver</div>
    </div>
    <div class="about-site">
      旅行の1日の日程を管理するアプリケーションサイトです。<br />
      予定を立てても順番通りにいかないことも多いはず。<br />
      Trouverはリストを自由に移動させて気ままな旅ライフをサポートします。<br />
      いろんな人たちと旅の記憶や見どころを共有してみてください！
    </div>
  </div>
</div>