/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $back-color: #67c7c4;
 $link-color: #67c7c4;
 $btn-back: #e0faff;
 $text-color: black;

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 a {
  text-decoration: none;
  color: $link-color;
}

 .layout {
   color: $text-color;
   font-family: 'Source Code Pro', monospace;
   position: relative;
   background-color: $btn-back;
 }

 // main画面位置

.main-field {
  margin: 25px auto;
  padding-left: 200px;
}

.container {
  margin-left: 20px;
}


// header
.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: $back-color;
  }

  .nav-ul {
    margin: 30px auto;
    text-align: center;
  }

 .nav-list {
    list-style: none;

  .nav-btn {
    width: 80%;
    display: inline-block;
    margin: 8px auto;
    padding: 4%;
    background-color: $btn-back;
    transition: all 0.3s;

    &:hover {
      font-weight: 600;
      width: 100%;
      letter-spacing: 5px;
      }
    }
  }


  .logo {
    position: absolute;
    bottom: 50px;
    width: 100%;
  }

// ページ名
.page-name {
  font-weight: 400;
}

// フォームスタイル
 .form__group {
   width: 70%;
   margin: 20px auto;
 }
 .form__item {
   margin-bottom: 10px;

   & .form__field {
     width: 100%;
     height: 40px;
   }

   & .form__area {
     width: 100%;
     height: 400px;
   }
 }
 .form__btn {
   width: 100%;
   height: 40px;
   margin: 20px auto;
   color: white;
   font-size: 20px;
   background-color: $link-color;
   border-radius: 3px;
   padding: 5px 10px;
   border: 1px solid white;
 }


// travel

#travel {
  display: flex;
  flex-wrap: wrap;

  #travel__form {
    width:230px;

    .plan__field {
      width: 200px;
      height: 60px;
      margin-bottom: 10px;
    }

    .plan__btn {
      border-radius: 5px;
      width: 200px;
      height: 30px;
      color: white;
      background-color: $link-color;
    }
  }


  #travel__plans {

    width: 60%;

    .plan__box {
      width: 90%;
      margin: 20px auto;
    }

    .plan__wrap {
      background-color: white;
      border: 1px solid black;
    }
    .plan__item {
      display: inline-block;
      padding: 5px 10px;
    }

  }

}