// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top {
  margin: 10px auto;

  & .top-image {
    width: 100%;
    height: 500px;
    background-color: orange;
    & .top-text {
    margin: 0 auto;

  }
  }


}