// Place all the styles related to the travels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// travel

  .travels__wrap {
    display: flex;
    flex-wrap: wrap;

  }

  #travels__form {
    width: 230px;
    padding: 0 15px;
  }

  .travels__box {
    width: 70%;
    margin: 0 auto;
  }

// travels/showのフォーム
  .travel__contents {
    display: flex;
    flex-wrap: wrap;
  }

  #travel__form {
    width: 230px;
    padding: 20px 15px;

    .plan__field {
      width: 200px;
      height: 60px;
      margin-bottom: 10px;
    }
    .form__btn {
      margin: 0 ;
    }
  }

  #travel__plans {

    width: 600px;
    margin: 0 auto;

    h2 {
      margin: 0 20px 20px;
    }

    .plan__box {
      width: 90%;
      margin: 20px auto;
      background-color: #a4ede5;
    }

    .plan__wrap {
      display: flex;
      height: 50px;
      border-bottom: 1px solid black;
      position: relative;

      #bar {
        cursor: crosshair;
        width: 50px;
        background: #81D8D0;
      }
      .btn {
        width: 50px;
        position: absolute;
        right: 0;
      }

      .plan__item {
        padding: 0 30px;
        line-height: 50px;
      }

      .flex-center {
        text-align: center;
        line-height: 50px;
       }
     }

  }
  .sortable-chosen {
    border: 2px solid white;
    transform: scale( 1.1, 1.1);
    background-color: #81D8D0;
  }