<% if model.errors.any? %>
  <div id="error-box">
    <div id="error-messages">
      <ul>
        <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>